---
layout: default
disqus: false
archive: false
post_class: post-template
---

{% include style.html %}
<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Inicio</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Suscribirse</a>
    </nav>
</header>

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <section class="post-content">
            {{content}}
        </section>
        {% include postpaginator.html %}
        <footer class="post-footer">
            <!-- Share links section -->
            {% include share.html %}
            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}
        </footer>
    </article>
</main>
